body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  background-color: #aec6cf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #bdbec0 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.a-title {
  text-decoration: none;
  color: white;
}
.a-neutral {
  text-decoration: none;
  color: black;
}

.text-wrap {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-box {
  border: 0.11rem solid #9e9e9e;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

/* @media only screen and (max-width: 600px) {
  .text-wrap {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
} */
